.eventsContainer {
  box-sizing: border-box;
  width: 100%;
  margin-top: 3%;
  border-radius: 5px;
  border: 1px solid rgba(20, 126, 183, 0.2);
  -webkit-box-shadow: 2px 4px 10px 1px rgba(20, 126, 183, 0.2);
  box-shadow: 2px 4px 10px 1px rgba(20, 126, 183, 0.2);
}

.eventsHeaderContainer {
  margin-top: -1%;
  padding: 2% 2% 0 2%;
}

.eventsHeaderContainer>p {
  font-size: 1.2rem;
  font-weight: 600;
}

.calender_form_container {
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.calenderContainer {
  width: 60%;
}

.calenderContainer td div {
  cursor: pointer;
}

/* FORM */

.form_super_container {
  /* border: 1px solid red; */
  width: 35%;
}

.form_super_container>p {
  text-align: center;
}

.heading {
  padding-left: 7%;
}

.container {
  /* background-color: rgb(227, 227, 231); */
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.formContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.formContainer .inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 5%;
}

.formContainer .inputContainer ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(159, 162, 180, 0.5);
  opacity: 1;
  /* Firefox */
}

.formContainer .inputContainer input {
  box-sizing: border-box;
  width: 100%;
  margin: 1.5% 0;
  padding: 3%;
  border: 1px solid rgba(159, 162, 180, 0.4);
  border-radius: 5px;
}

.formContainer .inputContainer .select {
  box-sizing: border-box;
  margin: 1.5% 0;
  width: 100%;
  font-size: 13px;
}

.formContainer .inputContainer input:focus {
  outline: none;
}

.formContainer .inputContainer label {
  font-size: 0.9rem;
  color: var(--colorLighter2);
}

.submit {
  width: 100%;
  color: white;
  padding: 4% 0;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(186, 186, 186, 1);
  border-radius: 5px;
  background-color: #147eb7;
}

.submit:hover {
  background-color: #116897;
  cursor: pointer;
}

.requirement_form {
  width: 45%;
  margin: 2% 0 0 25%;
  /* border: 1px solid black; */
  border-radius: 2%;
}

textarea {
  outline: none;
  width: 100%;
  margin: 1.5% 0;
  padding: 3%;
  border: 1px solid rgba(159, 162, 180, 0.4);
  border-radius: 5px;
}