.outer {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.content {
  position: relative;
  width: 500px;
  top: 10%;
  left: 38%;
  height: auto;
  max-height: 90vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.container {
  /* background-color: rgb(227, 227, 231); */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.alertHeaderContainer {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 1rem;
  font-weight: 600;
}

.reportContainer {
  width: 85%;
  margin: 5% 0;
  /* border: 1px solid red; */
}

.singleReport {
  width: 60%;
  padding: 2% 0;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}
