.container {
  display: flex;
  min-height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  width: 130%;
  margin: 15% 0;
}

.logo img {
  width: 100%;
  margin: 0 -15% 0 -15%;
}

/*
.logo p {
	font-size: 20px;
	font-weight: var(--fontMedium);
}
*/

.sidebar {
  background-color: #116897;
  display: flex;
  flex-direction: column;
  color: var(--textLight);
  /* align-items: flex-start; */
  padding-left: 30px;
  padding-right: 30px;
  /* min-width: max-content; */
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.sidebar ul li {
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 15px;
}

.sidebar ul li > span {
  margin-left: 20px;
}

.sidebar ul li > span a {
  color: inherit;
  text-decoration: none;
}

.sidebar ul .divider {
  border-top: 1px solid #4e4e4e;
  margin: 0;
  margin-bottom: 20px;
}

.contentWrapper {
  flex-grow: 1;
  padding: 20px;
}
