.navbar {
  display: flex;
  justify-content: space-between;
}

.heading_primary {
  font-weight: var(--fontMedium);
  font-size: 20px;
}

.navbar__menu {
  display: flex;
  color: var(--textGray);
  align-items: center;
}

.navbar__logo {
  display: flex;
}

.navbar__logo > i {
  margin-right: 20px;
}

.divider__v {
  border-left: 1px solid var(--textGray);
  height: 100%;
  margin-right: 80px;
}

.navbar__menu .menuAction {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navbar__menu .menuAction .menu__profile {
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  color: #000;
}

.navbar__menu .menu__profile span {
  margin-right: 10px;
}

.navbar__menu .menuAction .menu {
  position: absolute;
  width: 13%;
  top: 9%;
  box-shadow: 0px 0px 20px 5px rgba(148, 148, 148, 0.3);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  transition: 0.5s ease-in-out;
}

.navbar__menu .menuAction .menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: white;
  transform: rotate(45deg);
}

.navbar__menu .menuAction .menu h3 {
  margin-top: 8%;
  font-size: 1rem;
  text-align: center;
  font-weight: var(--fontMedium);
}

.navbar__menu .menuAction .menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar__menu .menuAction .menu ul li {
  width: 70%;
  display: flex;
  padding: 3% 0;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar__menu .menuAction .menu ul li .menu_image {
  opacity: 0.8;
}

.navbar__menu .menuAction .menu ul li:hover .menu_image {
  opacity: 1;
}

.navbar__menu .menuAction .menu ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.navbar__menu .menuAction .menu ul li:hover a {
  color: rgba(0, 0, 0, 0.8);
}
