.flex {
	display: flex;
	margin-top: 1rem;
	align-items: stretch;
	justify-content: space-between;
}

.map_container {
	width: 550px;
}

.map {
	width: 100%;
	height: 100%;
}

.table_container table {
	border-spacing: 0;
	border: 2px solid #dfe0eb;
	text-align: center;
	width: 500px;
}

.table_container table tr:nth-of-type(even) {
	background: #eee;
}

.table_container table tbody tr > *:nth-of-type(2) {
	text-align: left;
	width: 250px;
}

.table_container table thead tr:first-of-type {
	background-color: #363740;
	color: #dde2ff;
}

.table_container table tr:last-of-type td:nth-of-type(1),
.table_container table tr:last-of-type td:nth-of-type(3) {
	cursor: pointer;
}

.table_container table th,
.table_container table td {
	border: none;
	border-bottom: 1px solid #dfe0eb;
}
