.settingContainer {
  box-sizing: border-box;
  border-radius: 5px;
  height: 60vh;
  margin: 7% 10%;
}

.outerBlock {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 85%;
  margin: 2% 0 7% 5%;
  font-size: 1.2rem;
  font-family: "Roboto";
}

.innerBlock {
  width: 70%;
}

.innerBlock .heading {
  font-size: 1.6rem;
  list-style: 1.2;
  margin-bottom: 8px;
  color: initial;
  /* font-weight: 500; */
}

.innerBlock p {
  font-size: 1rem;
  color: #7e7e7e;
}

.outerBlock button {
  width: 7.5rem;
  height: 2.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 5px;
  background-color: white;
}

.button {
  color: #093c7c;
  border: 1px solid #093c7c;
}

.button:hover {
  color: white;
  background-color: #093c7c;
}

.delBtn {
  color: red;
  border: 1px solid red;
}

.delBtn:hover {
  color: white;
  background-color: red;
}
