.container {
	display: flex;
	min-height: 100vh;
}

.logo {
	display: flex;
	align-items: center;
	width: 100%;
}

.logo img {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	margin-right: 10px;
}

.logo p {
	font-size: 20px;
	font-weight: var(--fontMedium);
}

.sidebar {
	background-color: var(--colorSidebar);
	display: flex;
	flex-direction: column;
	color: var(--textLight);
	align-items: flex-start;
	padding-left: 30px;
	padding-right: 30px;
}

.sidebar ul {
	list-style: none;
	padding-left: 0;
	text-align: left;
}

.sidebar ul li {
	margin-bottom: 30px;
	cursor: pointer;
	font-size: 15px;
}

.sidebar ul li > span {
	margin-left: 20px;
}

.sidebar ul .divider {
	border-top: 1px solid #4e4e4e;
	margin: 0;
	margin-bottom: 20px;
}

.contentWrapper {
	flex-grow: 1;
	padding: 20px;
}
