.container {
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.imageContainer {
	position: absolute;
	/* border: 1px solid red; */
	border-radius: 250px;
	padding: 10%;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.8076272745426296) 0%,
		rgba(255, 255, 255, 0) 73%
	);
}
.img1 {
	width: 70%;
	margin-left: 5%;
}
.img2 {
	width: 100%;
	margin-top: 15%;
	/* margin-left: 150px; */
}
.img3 {
	/* position: absolute; */
	width: 350px;
	/* right: -20px; */
}
.img4 {
	width: 180px;
	top: 300px;
	right: -25px;
}

.leftbox {
	float: left;
	/* border: 1px solid red; */
	width: 50%;
}
.middlebox {
	float: left;
	/* border: 1px solid red; */
	/* background:Green; */
	width: 30%;
}
.rightbox {
	position: relative;
	float: right;
	width: 20%;
	/* border: 1px solid red; */
	/* background:blue; */
}

/* NAVBAR */
.navbar-nav > li {
	padding-left: 30px;
	padding-right: 30px;
}

.poo {
	border: 2px solid black;
	border-width: 0.01em;
	border-radius: 1.2em;
}

.dd {
	/* margin-left: 30px; */
	font-weight: 500;
}

/* ENDS HERE */

.info {
	margin-left: 70px;
}
.title {
	line-height: 0.8;
	font-weight: 800;
}
