@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel li.dot {
  background-color: #2a2b33 !important;
}

.carousel li.dot.selected {
  background-color: #147eb7 !important;
}

/* Hide all input number arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

:root {
  /* COLORS */
  --colorPrimary: #2a2b33;
  --colorSecondary: #4d4d4d;
  --colorLighter1: white;
  --colorLighter2: #757678;
  --colorLighter3: #9fa2b4;
  --colorbutton: #3751ff;
  --colorLink: #0000ee;
  --colorSidebar: #363740;
  --colorBG: #f7f8fc;

  --textLight: #dde2ff;
  --textGray: #a7a5a5;

  /* FONTS */
  --fontLighter: 200;
  --fontRegular: 400;
  --fontMedium: 500;
  --fontBold: 700;
}

/* PACKAGE OVERRIDING STYLES */
.fc-daygrid-day-frame {
  max-height: 70px;
  overflow: auto;
}
.fc-daygrid-day-top {
  justify-content: center;
}

.fc-daygrid-day-frame::-webkit-scrollbar {
  width: 5px;
}
.fc-daygrid-day-frame::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.fc-daygrid-day-frame::-webkit-scrollbar-thumb {
  background: #3498db;
  border-radius: 7px;
}
