.titleContainer {
  width: 40%;
  margin: 3rem auto 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.title {
  font-weight: 600;
  font-size: 1.5rem;
}

.titleSubheader {
  font-size: 0.9rem;
  color: var(--colorSecondary);
}

.container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 10px 1px rgba(20, 126, 183, 0.2);
  width: 40%;
  padding: 1rem 0.5rem;
  margin: 1% auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.detailsContainer {
  width: 95%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.detailsContainer .detailsHeader {
  font-weight: 600;
  font-size: 1.1rem;
}

.detailsContainer .detailsSubHeader {
  margin-top: 0%;
  margin-bottom: 3%;
  font-size: 0.8rem;
  color: var(--colorSecondary);
}

.detailsContainer form {
  width: 100%;
}

.detailsContainer .inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 5%;
}

.detailsContainer .inputContainer ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.5);
  opacity: 1; /* Firefox */
}

.detailsContainer .inputContainer input {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  width: 100%;
  padding: 2%;
  border: 1px solid rgba(159, 162, 180, 0.4);
  border-top: 4px;
  border-right: 4px;
  border-left: 4px;
  border-radius: 5px;
}

.detailsContainer .inputContainer input:focus {
  outline: none;
}

.submit {
  margin: 5% 0;
  width: 100%;
  color: white;
  font-size: 1rem;
  padding: 3% 0;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(186, 186, 186, 1);
  border-radius: 5px;
  background-color: #147eb7;
}

.submit:hover {
  background-color: #116897;
  cursor: pointer;
}
