/* FOR NAVBAR */
.userNavbar {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid cyan; */
}

.headersContainer {
  display: flex;
  width: 20%;
  align-items: center;
  /* border: 1px solid red; */
}

.headersContainer .logoIcon {
  width: 20%;
  margin: 3% 2% 0 2%;
  height: min-content;
  /* border: 1px solid red; */
}

.logoIcon img {
  width: 100%;
}

.headersContainer .headers2 {
  display: flex;
  text-align: left;
  flex-direction: column;
  /* border: 1px solid red; */
  height: fit-content;
}

.headersContainer .headers2 .title2 {
  font-weight: var(--fontMedium);
  color: var(--colorSecondary);
  margin-top: 5%;
  margin-bottom: -7%;
  /* border: 1px solid red; */
}

.headersContainer .headers2 .titleDetails2 {
  font-weight: var(--fontMedium);
  color: var(--colorSecondary);
  font-size: 0.5rem;
  /* border: 1px solid red; */
}

.userIconAction {
  width: 15%;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid cyan; */
}

.userIconAction .profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
  width: 20%;
  overflow: hidden;
  cursor: pointer;
  /* border: 1px solid red; */
}

.userIconAction .profile svg {
  width: 75%;
  height: 62%;
}

.userIconAction .menu {
  position: absolute;
  width: 13%;
  right: 1%;
  top: 9.5%;
  box-shadow: 0px 0px 30px 2px rgba(148, 148, 148, 0.3);
  background-color: #f4f4f4;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in-out;
}

.userIconAction .menu::before {
  content: "";
  position: absolute;
  top: -7px;
  right: 50px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(45deg);
}

.userIconAction .menu .menu__heading {
  color: #000;
  margin-left: 2%;
  font-size: 1rem;
  /* text-align: center; */
  font-weight: var(--fontMedium);
}

.userIconAction .menu ul li {
  width: 85%;
  display: flex;
  padding: 4.5% 10%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  /* border: 1px solid red; */
}

.userIconAction .menu ul li svg {
  width: 20px;
  height: 20px;
  color: #000;
  margin-right: 10%;
  opacity: 0.5;
}

.userIconAction .menu ul li:hover svg {
  opacity: 1;
}

.userIconAction .menu ul li a {
  text-decoration: none;
  color: var(--colorSecondary);
  transition: 0.5s;
}

.userIconAction .menu ul li:hover a {
  color: var(--colorPrimary);
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
