.container {
  background-color: var(--colorLighter1);
}

.titleContainer{
  width: 35%;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  /* border: 1px solid red; */
}

.title {
  margin: -1% 0;
  font-weight: 600;
  font-size: 1.3rem;
  /* border: 1px solid red; */
}

.titleSubheader{
  font-size: 0.6rem;
  color: var(--colorSecondary);
}

.userformContainer{
  box-shadow: 0px 0px 3px 1px rgba(148,148,148,0.35);
  width: 35%;
  padding: 1% 0;
  margin: 1% auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.detailsContainer{
  width: 95%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.detailsContainer .detailsHeader{
  font-weight: 600;
}

.detailsContainer .detailsSubHeader{
  margin-top: 0%;
  font-size: 0.6rem;
  color: var(--colorSecondary);
}


.inputContainer{
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-row-gap: 10%;
  text-align: left;
  margin-bottom: 3%;
}

.inputContainer .inputCol1{
  grid-area: auto / 1;
  /* border: 1px solid red; */
}

.inputContainer .inputCol1 label{
  font-size: 0.8rem;
  font-weight: 500; 
  vertical-align: sub;
}

.inputContainer .inputCol1 span{
  color: red;
}

.inputContainer .inputCol2{
  grid-area: auto / 2;
  /* border: 1px solid red; */
}

.inputContainer .inputCol2 input, .prescription{
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 3px;
  padding: 3%;
  width: 90%;
  font-size: 0.7rem;
}

.inputContainer .inputCol2 .uploadPrescription{
  border: none;
  padding: 0;
}

.userformContainer .recaptcha{
  margin-top: 5%;
}

.submit {
  margin: 5% 0;
  width: 20%;
  color: white;
  padding: 2% 0;
  border: none;
  border-radius: 5px;
  background-color: var(--colorbutton);
}

.submit:hover {
  background-color: rgba(44, 41, 255);
  box-shadow: 0px 0px 10px 0px rgba(186, 186, 186, 0.5);
  cursor: pointer;
}



/* Line Breaks */
.lineBreak{
  width: 90%;
  margin: 2%;
  border-bottom: 1px solid lightgrey;
}