.about {
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 0 30px;
}
.about .about_container {
  max-width: 1200px;
  margin: auto;
}

.about .about_container .about_heading {
  text-align: center;
  color: #147eb7;
  margin-bottom: 6px;
  font-size: 1.5rem;
  line-height: 1.2;
}

.about .about_container .about_content p {
  font-size: 1.125rem;
  text-align: justify;
  line-height: 1.3125rem;
}

.about .about_container .about_content p:nth-of-type(2) {
  margin-top: 16px;
}

@media screen and (max-width: 768px) {
  .about .about_container .about_heading {
    font-size: 1.2rem;
    margin-bottom: 12px;
  }
  .about .about_container .about_content p {
    font-size: 1rem;
  }
}
