.gallery {
  margin-top: 80px;
}
.galleryContainer {
  max-width: 1200px;
  margin: auto;
}

.galleryHeading {
  text-align: center;
  color: #147eb7;
  margin-bottom: 36px;
}

.cardsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1100px) {
  .gallery {
    margin-top: 50px;
  }
  .cardsContainer {
    gap: 50px;
    justify-content: space-between;
    overflow: scroll;
    padding: 50px;
    margin: auto;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .cardsContainer::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 650px) {
  .galleryHeading {
    margin-bottom: 0;
  }
}
