.galleryContainer {
  max-width: 1200px;
  margin: auto;
}

.galleryHeading {
  text-align: center;
  color: #147EB7;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
