.slide__container {
  display: flex;
  z-index: 10;
}

.left {
  margin-left: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 55%;
}

.showcase__text {
  margin-bottom: 30px;
}

.heading {
  text-align: left;
  padding-top: 3rem;
}

.heading p {
  margin: 0;
}

.text__primary {
  color: rgb(24, 17, 17);
  font-size: 24px;
  font-weight: var(--fontBold);
  margin-bottom: 2rem !important;
}

.text__secondary {
  color: rgb(24, 17, 17);
  font-weight: 600;
  margin-bottom: 1rem !important;
}

.info {
  text-align: left;
  color: #504b4b;
}

.btn {
  padding: 9px 25px;
  cursor: pointer;
  background-color: #263252;
  color: #fff;
  font-weight: var(--fontRegular);
  font-size: 15x;
  border-radius: 20px;
}

.bgImage img {
  height: 350px;
}

/* Responsive */
@media (max-width: 450px) {
  .slide__container {
    flex-direction: column-reverse;
  }
  .left {
    max-width: 90%;
    margin: auto;
  }
  .showcase__text {
    width: 100%;
    margin: 0 auto;
  }
  .info {
    display: none;
  }
  .text__secondary {
    display: none;
  }
  .showcase__text {
    margin-bottom: 0.8rem;
  }
  .text__primary {
    font-size: 1.1rem;
    margin-bottom: 0 !important;
  }
  .btn {
    border-radius: 12px;
    padding: 6px 15px;
    margin-bottom: 2.5rem;
  }
  .bgImage img {
    height: 425px;
    content: url("../../assets//home/carousel/carousel__mobile.jpg");
  }
}
