.faq {
  margin: 80px 0;
}

.faqContainer {
  max-width: 1200px;
  margin: auto;
}

.faqHeading {
  text-align: center;
  color: #147eb7;
  margin-bottom: 36px;
}

.faqContent {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.faq_item {
  padding: 18px 24px 10px 24px;
}

.faq_item .faq_item_question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  margin-bottom: 16px;
}
.faq_item .faq_item_question p {
  flex-grow: 1;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  font-weight: 600;
}

.faq_item .faq_item_question .faq_item_question_icon {
  width: 8px;
  height: 8px;
  border-bottom: 3px solid #147eb7;
  border-right: 3px solid #147eb7;
  border-left: none;
  border-top: none;
  transform: rotate(-45deg);
}

.faq_item .faq_item_answer {
  max-height: 0;
  overflow: hidden;
}

.faq_item .faq_item_answer p {
  color: rgba(60, 60, 67, 0.85);
}

.faq_item.active .faq_item_question .faq_item_question_icon {
  transform: rotate(45deg);
}

.faq_item.active .faq_item_answer {
  max-height: 500px;
}

.divider {
  height: 1px;
  width: 95%;
  background-color: #dfe3e8;
  margin: auto;
}

@media (max-width: 768px) {
  .faq {
    margin: 50px 0;
  }
  .faqContent {
    flex-direction: column;
  }
  .tabsContainer {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .tabsContainer::-webkit-scrollbar {
    display: none;
  }
  .tab {
    text-align: center;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .questionsContainer {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 650px) {
  .faq {
    margin: 40px 0;
  }
  .faqHeading {
    margin-bottom: 20px;
  }
  .faqContent {
    width: 100%;
  }
}
