.slide__container {
  display: flex;
  z-index: 10;
}

.left {
  margin-left: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 55%;
}

.showcase__text {
  margin-bottom: 30px;
}

.heading {
  text-align: left;
  padding-top: 3rem;
}

.heading p {
  margin: 0;
}

.text__primary {
  color: rgb(24, 17, 17);
  font-size: 24px;
  font-weight: var(--fontBold);
  margin-bottom: 2rem !important;
}

.text__secondary {
  color: rgb(24, 17, 17);
  font-weight: 600;
  margin-bottom: 1rem !important;
}

.info {
  text-align: left;
  color: #504b4b;
}

.button {
  text-align: left;
  padding: 9px 25px;
  cursor: pointer;
  background-color: #263252;
  color: #fff;
  font-weight: var(--fontRegular);
  font-size: 15x;
  border-radius: 20px;
}

.img__2 {
  position: absolute;
  top: -40px;
  z-index: -1;
  right: 10px;
}

.img__3 {
  position: absolute;
  top: 400px;
  right: 200px;
  height: 300px;
  width: 300px;
}

.img__4 {
  position: absolute;
  top: 400px;
  right: 0px;
  height: 200px;
}
